$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*Lower Nav*/
nav {
  ul {
    background-color:#e95853;
    padding-left: 0;
    padding-right: 12px;
    li.nav-opts {
      padding: 11px 0;
      display: inline-block;
      background-color: #e95853;
      width: 20%;
      text-align: center;
      margin-right: -4px;
      font-style: oblique;

      -webkit-transform-origin:0 0;
      -moz-transform-origin:0 0;
      -ms-transform-origin:0 0;
      -o-transform-origin:0 0;
      transform-origin:0 0;
      -webkit-transform:skew(17deg);
      -moz-transform:skew(17deg);
      -ms-transform:skew(17deg);
      -o-transform:skew(17deg);
      transform:skew(17deg);

      a, a:hover {
        color: #fff;
        text-decoration: none;
      }
      ul {
        top: 35px;
        opacity: 0;
        float: left;
        position: absolute;
        padding-left: 0;
        padding-right: 0;
        margin-left: 6%;
        width: 200px;
        font-style: normal;

        -webkit-transform-origin:0 0;
        -moz-transform-origin:0 0;
        -ms-transform-origin:0 0;
        -o-transform-origin:0 0;
        transform-origin:0 0;
        -webkit-transform:skew(-17deg);
        -moz-transform:translate(0,1px) skew(-17deg);
        -ms-transform:skew(-17deg);
        -o-transform:skew(-17deg);
        transform:skew(-17deg);

        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        li {
          text-align: left;
          border-top: 1px solid #fff;
          width: 200px;
          display: block;
          padding: 10px 0 10px 10%;
          a {
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
          }
        }
        li:before {
          content: "•";
          padding-right: 8px;
          color: #fff;
          float: left;
          font-size: 25px;
          margin-top: -8px;
        }
        span {
          width: 100%;
          height: 8px;
          display: inline-block;
        }
      }
      ul.sub-menu-even {
        background-color: #0e76bd;
        span {
          background-color: #0c65a1;
        }
        li {
          background-color: #0e76bd;
        }
        li:hover {
          background-color: #0c65a1;
        }
      }
      ul.sub-menu {
        span {
          background-color: #ab0b25;
        }
        li {
          background-color: #e95853;
        }
        li:hover {
          background-color: #ab0b25;
        }
      }
    }
    li:nth-child(even) {
      background-color: #0e76bd;
    }
    li:hover {
      ul {
        opacity: 1;
      }
    }
  }
}
